@font-face {
  font-family: 'NanumGothic';
  font-weight: 400;
  src: url('/fonts/NanumGothic-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumGothic';
  font-weight: 500;
  src: url('/fonts/NanumGothic-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'NanumGothic';
  font-weight: 600;
  src: url('/fonts/NanumGothic-ExtraBold.ttf') format('truetype');
}

body,
textarea,
input {
  font-family: 'NanumGothic';
}
